.property-pagination {
  text-align: center;
  padding-top: 10px;
}
.property-pagination.blog-pagination {
  text-align: left;
  padding-top: 0;
}
.property-pagination.blog-pagination a,
.property-pagination.blog-pagination button {
  color: rgb(38, 33, 33);
}
.property-pagination a,
.property-pagination button {
  display: inline-block;
  height: 46px;
  width: 46px;
  background: #f2f2f2;
  color: var(--blog-item);
  font-size: 14px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  /*border-radius: 50%;*/
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 6px;
}
.property-pagination button {
  line-height: 26px;
}
.property-pagination a:last-child,
.property-pagination button:last-child {
  margin-right: 0;
}
.property-pagination a:hover,
.property-pagination button:hover {
  background: #00c89e;
  color: var(--branco);
}
.property-pagination a.icon span,
.property-pagination button.icon span {
  position: relative;
  top: 5px;
}
.property-pagination a span,
.property-pagination button span {
  font-size: 27px;
}
.ml-4 {
  margin-left: 4px;
}
